<% if @post.hero.attached? %>
  <div>
    <% if @post.hero.image? %>
      <%= image_tag(@post.hero.variant(resize_to_limit: [200, 200])) %>
    <% elsif @post.hero.video? %>
      <%= video_tag(
        @post.hero,
        controls: true,
        poster: @post.hero.preview(resize_to_limit: [100, 100]).processed.url,
        preload: 'none',
        size: '200x200',
      ) %>
    <% end %>
  </div>
<% end %>

<h1><%= @post.title %></h1>

<%= simple_format @post.body %>
